/**
 * default.less | iOS Test | 12.21.2011 
 */

html, body {

	font: normal 100% "Helvetica Neue", Helvetica, Arial;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	-webkit-user-select:none;
	-webkit-text-size-adjust:none;
	overflow-y: hidden;
		
}




