<div data-view="wm-event" data-name="social-event">

	<div class="ios-ui-navigation-bar" data-media="tablet mobile">
	
		<div class="ios-ui-bar-button-item left" data-name="back-btn" data-fires="back">Back</div>
		<div class="title">Feed</div>
		<div class="ios-ui-bar-button-item right" data-name="flip-btn" data-media="mobile" data-fires="flip">Map</div>
	
	</div>

	<div itemscope itemid>
	
		<div itemprop="eventName"></div>
		
		<div itemprop="eventLocation" itemscope>
			<span itemprop="locationName"></span>
		</div>
		
		<div itemprop="eventDescription"></div>
		<div itemprop="eventDate"></div>
		
		<div itemprop="attendees" itemscope>
			<span itemprop="firstName"></span>
			<span itemprop="lastName"></span>
		</div>
	
	</div>

	<div data-view="ui-map-view" data-name="social-map" data-media="desktop tablet"></div>

</div>