<div data-view="wm-setup" data-name="social-setup">

	<div class="ios-ui-navigation-bar" data-media="mobile">
	
		<div class="ios-ui-bar-button-item left" data-name="back-btn" data-fires="back">Back</div>
		<div class="title">Setup</div>
	
	</div>

	<form name="setup">
	
		<label for="firstName" data-media="desktop"></label>
		<input type="name" name="firstName" placeholder="First Name" />
		
		<label for="lastName" data-media="desktop"></label>
		<input type="name" name="firstName" placeholder="Last Name" />
		
		<label for="region" data-media="desktop"></label>
		<select name="region">
			<option value="1">Chicago</option>
			<option value="2">New York</option>
			<option value="3">Seattle</option>
		</select>
		
		<input type="submit" name="setup" value="Setup" data-fires="setup" />
	
	</form>

</div>