<div data-view="contacts-view" data-name="contact">

	<div class="ios-ui-navigation-bar">
			
		<div class="ios-ui-bar-button-item left">Back</div>
		
		<div class="title">
			<span itemprop="firstName"></span> <span itemprop="lastName"></span>
		</div>
			
	</div>

	<div data-view="ios-ui-scroll-view" data-name="scroll-view">

		<div itemscope itemtype="Contact" itemid="">
		
			<div itemprop="firstName"></div>
			
			<div itemprop="lastName"></div>
			
			<div itemprop="email"></div>
			
			<div itemprop="phone"></div>
			
			<div itemprop="birthday"></div>
				
		</form>
		
	</div>

</div>