<div data-view="contacts-modal-view" data-name="create-contact-modal">

	<div data-view="contacts-create-view" data-name="create-contact">
	
		<form name="create-contact">
		
			<label for="first_name">First Name</label>
			
			<input type="text" name="first_name" placeholder="First Name" />
			
			<label for="last_name">Last Name</label>
			
			<input type="text" name="last_name" placeholder="Last Name" />
			
			<label for="email">Email</label>
			
			<input type="email" name="email" placeholder="Email" />
			
			<label for="phone">Phone</label>
			
			<input type="tel" name="phone" placeholder="Phone" />
			
			<label for="birthday">Birthday</label>
			
			<input type="date" name="birthday" placeholder="Birthday" />
			
			<label for="website">Website</label>
			
			<input type="url" name="website" placeholder="Website" />
			
			<input type="submit" name="submit" value="Create" />
		
		</form>
	
	</div>

</div>