<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>OrangeUI | Page Template</title>
</head>

<body>

<div id="canvas">

	<header class="ios-ui-navigation-bar">
	
		<h1>Welcome</h1>
	
		<div class="ui-bar-button-item" data-button-type="back">Left</div>
		<div class="ui-bar-button-item">Right</div>
	
	</header>
	
	<section class="ios-ui-table-view" data-source="customers" data-limit="20" data-pull-refresh="true"></section>
	
	<footer class="ios-ui-toolbar">
	
		<ul class="ui-segmented-control" data-position="center">
		
			<li class="ui-segmented-control-item" data-selected="true">All</li>
			<li class="ui-segmented-control-item">My Events</li>
			<li class="ui-segmented-control-item">Past Events</li>
			
		</ul>
	
	</footer>

</div>

</body>
</html>
