/* Element: UISearchBar */

.ui-ios-search-bar .ui-ios-search-button {
	
	background: url(../../src/images/ui-ios-search-button-bg.png); /* IE doesn't support rounded corners and gradients at the same time */
	border: 1px solid #5C6B81;
	filter: none; /* IE6-9 */
	padding: 0px;
	height: 28px;
	line-height: 28px;
}

.ui-ios-search-bar .ui-ios-search-button.touched {
	
	background: url(../../src/images/ui-ios-search-button-bg-selected.png); /* IE doesn't support rounded corners and gradients at the same time */
	filter: none; /* IE6-9 */
}

.ui-ios-search-bar input[type=text]  {
	/* correct ie padding bug */
	padding: 6px 5px 4px 30px;
	left: 0px;
	width: 100%;
	position: relative;
}

.ui-ff-ios-search-bar-wrapper {
	height: 30px;
	left: 7px;
	right: 44px;
	position: absolute;
	
}

.ui-ios-search-bar .ui-ios-search-button:hover {
	
	background: url(../../src/images/ui-ios-search-button-bg-selected.png); /* IE doesn't support rounded corners and gradients at the same time */
	filter: none; /* IE6-9 */
}


/* Element: UIToolbar */

.ui-ios-toolbar {
	background: url(../../src/images/ui-ios-toolbar-bg.png) repeat-x;
	border: none;
	filter: none;
}

/* Element: UINavigationBar */

.ui-ios-navigation-bar {
	background: url(../../src/images/ui-ios-navigation-bar-bg.png) repeat-x;
	border: none;
	filter: none;
}


/* Element: UIBarButtonItem */

.ui-ios-bar-button-item {
	background: url(../../src/images/ui-ios-bar-button-item-bg.png) repeat-x; /* IE doesn't support rounded corners and gradients at the same time */
	border: 1px solid #5C6B81;
	filter: none; /* IE6-9 */
}

.ui-ios-bar-button-item:hover {
	background: url(../../src/images/ui-ios-bar-button-item-bg-selected.png) repeat-x; /* IE doesn't support rounded corners and gradients at the same time */
	filter: none; /* IE6-9 */
}


/* Element: UISegmentedControl */

.ui-ios-segmented-control {
	border: 1px solid #5C6B81;
}

.ui-ios-segmented-control .ui-ios-segment {
	background: url(../../src/images/ui-ios-segment-bg.png) center center repeat-x;
	filter: none;
}

.ui-ios-segmented-control .ui-ios-segment:hover {
	background: url(../../src/images/ui-ios-segment-bg-highlighted.png) center center repeat-x;
	filter: none;
}

.ui-ios-segmented-control .ui-ios-segment.selected {
	background: url(../../src/images/ui-ios-segment-bg-selected.png) repeat-x;
	filter: none;
}