<div data-control="edit-view" data-name="edit">

	<div class="edit-form">
	
		<h2>Edit Contact</h2>
		
		<form name="edit">
		
			<input type="text" name="firstName" placeholder="First Name" />
			
			<input type="text" name="lastName" placeholder="Last Name" />
			
			<input type="email" name="email" placeholder="Email" />
			
			<input type="tel" name="phone" placeholder="Phone" />
			
			<input type="url" name="website" placeholder="Website" />
			
			<input type="date" name="birthday" placeholder="Birthday" />
			
			<input data-name="save-btn" type="button" name="submit" value="Save" />
		
		</form>
	
	</div>

</div>