/**
 * ios-mobile.css | OrangeUI Framework 0.1 | 12.21.2011 
 * 
 * extends ios-common.css, ios-mobile.css for all tablet and
 * mobile devices
 *
 * @media screen and (min-device-width: 320px) and (max-device-width: 1024px)
 * 
 */
 
/* UI Element Styles */

