html, body {
  font-family: "Helvetica Neue";
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

header {
  background: #EEE;
  box-sizing: border-box;
  overflow: hidden;
  padding: 20px;
}

h1 {
  float: left;
  height: 40px;
  margin: 0;
  padding: 0;
}

.add-btn, .plus-btn, .minus-btn {
  background: #333;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  float: right;
  height: 40px;
  width: 40px;
  -webkit-transition: background 200ms ease-in-out 0s;
}

.add-btn:hover {
  background: #666;
  -webkit-transition: background 200ms ease-in-out 0s;
}

div.hidden {
  display: none;
}

.first, .second, .one, .two {
  display: inline-block;
}

.first, .one {
  background: #F00;
  height: 40px;
  width: 100px;
}

.second, .two {
  background: #0F0;
  height: 40px;
  width: 100px;
}

.first.hidden, .one.hidden {
  opacity: .3;
  display: inline-block;
}

.second.hidden, .two.hidden {
  opacity: .3;
  display: inline-block;
}

.contacts-list.state-one {
   background: #F00; 
}

.contacts-list.state-two {
  background: #F0F;
}

.contacts-list.state-three {
  background: #00F;
}