<div data-view="contacts-modal-view" data-name="create-contact-modal">
	
	<div class="ios-ui-navigation-bar">
				
		<div class="title">Create Contact</div>
		
		<div class="ios-ui-bar-button-item right">Close</div>
			
	</div>

	<div data-view="contacts-create-view" data-name="create-contact" style="background-color: #F8F8F8;">

		<form name="create-contact">
				
			<label for="firstName">First Name</label>
			
			<input type="text" name="firstName" placeholder="First Name" />
			
			<label for="lastName">Last Name</label>
			
			<input type="text" name="lastName" placeholder="Last Name" />
			
			<label for="email">Email</label>
			
			<input type="email" name="email" placeholder="Email" />
			
			<label for="phone">Phone</label>
			
			<input type="tel" name="phone" placeholder="Phone" />
			
			<label for="birthday">Birthday</label>
			
			<input type="date" name="birthday" placeholder="Birthday" />
			
			<label for="website">Website</label>
			
			<input type="url" name="website" placeholder="Website" />
			
			<input type="submit" name="submit" class="ios-ui-button" value="Create" />
		
		</form>
		
	</div>

</div>