/**
 * mobile.less | OrangeUI Framework 0.1 | 12.21.2011 
 */

body {
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
}

/**

.ios-bar-button-gradient {
	background-image: linear-gradient(bottom, rgb(74,106,155) 0%, rgb(72,106,154) 50%, rgb(89,119,162) 50%, rgb(133,157,188) 100%);
	background-image: -o-linear-gradient(bottom, rgb(74,106,155) 0%, rgb(72,106,154) 50%, rgb(89,119,162) 50%, rgb(133,157,188) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(74,106,155) 0%, rgb(72,106,154) 50%, rgb(89,119,162) 50%, rgb(133,157,188) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(74,106,155) 0%, rgb(72,106,154) 50%, rgb(89,119,162) 50%, rgb(133,157,188) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(74,106,155) 0%, rgb(72,106,154) 50%, rgb(89,119,162) 50%, rgb(133,157,188) 100%);
}

.ios-ui-bar-button-item:hover {
				
	.ios-bar-button-gradient;
	
}

.ios-ui-bar-button-item:active {
				
	.ios-bar-button-gradient;
	
}**/

.ios-bar-button-gradient-touch {
	
	background-image: linear-gradient(bottom, rgb(60,89,127) 0%, rgb(56,82,120) 50%, rgb(76,101,137) 50%, rgb(115,136,163) 100%);
	background-image: -o-linear-gradient(bottom, rgb(60,89,127) 0%, rgb(56,82,120) 50%, rgb(76,101,137) 50%, rgb(115,136,163) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(60,89,127) 0%, rgb(56,82,120) 50%, rgb(76,101,137) 50%, rgb(115,136,163) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(60,89,127) 0%, rgb(56,82,120) 50%, rgb(76,101,137) 50%, rgb(115,136,163) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(60,89,127) 0%, rgb(56,82,120) 50%, rgb(76,101,137) 50%, rgb(115,136,163) 100%);
	
}