<!-- index.html -->
<div data-control="wm-social-app" data-name="social-app" data-root="true">

	<div data-control="wm-home" data-name="social-home" data-media="desktop tablet">
	
		<h1>Welcome to WMSocial</h1>
		
		<p>Social lets you plan events with your coworkers in real-time.</p>
		
		<div data-control="wm-home-multiview" data-name="social-home-multiview" data-default="social-login">
	
			<div data-control="wm-login" data-name="social-login" data-template="social-login.html"></div>
			
			<div data-control="wm-setup" data-name="social-setup" data-template="social-setup.html"></div>
		
		</div>
	
	</div>
	
	<!-- for mobile browsers -->
	<div data-control="wm-mobile" data-name="social-main" data-media="mobile" data-default="social-login">
	
		<div data-control="wm-login" data-name="social-login" data-template="social-login.html"></div>

		<div data-control="wm-setup" data-name="social-setup" data-template="social-setup.html"></div>
	
		<div data-control="wm-feed" data-name="social-feed" data-template="social-feed.html"></div>

		<div data-control="wm-flip-view" data-name="social-flip-view" data-default="social-event">

			<div data-control="wm-event" data-name="social-event" data-template="social-event.html"></div>
			
			<div data-control="ui-map-view" data-name="social-map"></div>
		
		</div>
			
	</div>
	
	<!-- for desktop and tablet browsers -->
	<div data-control="wm-main" data-name="social-main" data-media="tablet desktop">
		
		<div data-control="wm-feed" data-name="social-feed" data-template="social-feed.html"></div>
	
		<div data-control="wm-event" data-name="social-event" data-template="social-event.html"></div>
		
	</div>

</div>

<!-- social-login.html -->
<div data-control="wm-login" data-name="social-login">

	<div class="ios-ui-navigation-bar" data-media="mobile">
		<div class="title">Login</div>
	</div>

	<form name="login">
	
		<label for="username" data-media="desktop"></label>
		<input type="text" name="username" placeholder="Username" />
		
		<label for="password" data-media="desktop"></label>
		<input type="password" name="password" placeholder="Password" />
		
		<input type="submit" name="login" value="Login" />
	
	</form>

</div>

<!-- social-setup.html -->
<div data-control="wm-setup" data-name="social-setup">

	<div class="ios-ui-navigation-bar" data-media="mobile">
	
		<div class="ios-ui-bar-button-item left" data-name="back-btn">Back</div>
		<div class="title">Setup</div>
	
	</div>

	<form name="setup">
	
		<label for="firstName" data-media="desktop"></label>
		<input type="text" name="firstName" placeholder="First Name" />
		
		<label for="lastName" data-media="desktop"></label>
		<input type="text" name="firstName" placeholder="Last Name" />
		
		<label for="region" data-media="desktop"></label>
		<select name="region">
			<option value="1">Chicago</option>
			<option value="2">New York</option>
			<option value="3">Seattle</option>
		</select>
		
		<input type="submit" name="setup" value="Setup" />
	
	</form>

</div>

<!-- social-feed.html -->
<div data-control="wm-feed" data-name="social-feed">

	<div class="ios-ui-navigation-bar" data-media="tablet mobile">
	
		<div class="ios-ui-bar-button-item left" data-name="logout-btn">Logout</div>
		<div class="title">Feed</div>
	
	</div>
	
	<div data-control="ios-ui-table-view" data-name="social-events-list" data-cell="social-event-cell.html"></div>

</div>

<!-- social-event.html -->
<div data-control="wm-event" data-name="social-event">

	<div class="ios-ui-navigation-bar" data-media="tablet mobile">
	
		<div class="ios-ui-bar-button-item left" data-name="back-btn" data-media="mobile">Back</div>
		<div class="title">Feed</div>
		<div class="ios-ui-bar-button-item right" data-name="flip-btn" data-media="mobile">Map</div>
	
	</div>

	<div itemscope data-name="event-info">
	
		<div itemprop="eventName"></div>
		
		<div itemprop="eventLocation" itemscope>
			<span itemprop="locationName"></span>
		</div>
		
		<div itemprop="eventDescription"></div>
		<div itemprop="eventDate"></div>
		
		<div itemprop="attendees" itemscope>
			<span itemprop="firstName"></span>
			<span itemprop="lastName"></span>
		</div>
	
	</div>
	
	<input type="button" name="attend" value="Attend" data-name="attend-btn" />
	
	<div data-control="ui-map-view" data-name="social-map" data-media="desktop tablet"></div>

</div>

<!-- social-event-cell.html -->
<li data-control="wm-event-cell" data-name="social-event-cell" itemscope>
	
	<div itemprop="eventName"></div>
	
	<div itemprop="eventLocation" itemscope>
		<span itemprop="locationName"></span>
	</div>
	
	<div itemprop="eventDate"></div>
	
	<ul itemprop="attendees">
		<li itemscope>
			<span itemprop="firstName"></span>
			<span itemprop="lastName"></span>
		</li>
	</ul>
	
</li>

<!-- social-search.html -->
<div data-control="wm-search" data-name="social-search">

	<div class="ios-ui-navigation-bar" data-media="tablet mobile">
	
		<div class="title">Search</div>
		<div class="ios-ui-bar-button-item right" data-name="close-btn" data-media="mobile">Close</div>
	
	</div>
	
	<div data-control="ios-ui-table-view" data-name="social-search-results" data-cell="social-search-result-cell.html"></div>
	
	<div class="ios-ui-toolbar">
		<span data-name="search-accuracy"></span>
	</div>

</div>


<!-- social-create.html -->
<div data-control="wm-create" data-name="social-create">

	<div class="ios-ui-navigation-bar" data-media="tablet mobile">
	
		<div class="ios-ui-bar-button-item left" data-name="back-btn" data-media="mobile">Back</div>
		<div class="title">Create Event</div>
	
	</div>
	
	<div class="location" itemscope data-binding="location">
	
		<div itemprop="locationName"></div>
		<div itemprop="locationAddress"></div>
		<div itemprop="locationCategory"></div>
	
	</div>
	
	<form name="create-event">
	
		<label for="description" data-media="desktop"></label>
		<input type="text" name="description" placeholder="Description" />
		
		<label for="date" data-media="desktop"></label>
		<div data-input="ui-date-picker" data-name="date" />
		
		<label for="time" data-media="desktop"></label>
		<div data-input="ui-time-picker" data-name="time" />
			
		<label for="isPublic"></label>
		<select name="isPublic">
			<option value="0">No</option>
			<option value="1" selected="selected">Yes</option>
		</select>
			
		<input type="submit" name="create-event" value="Create"/>
	
	</form>

</div>

<!-- social-search-result-cell.html -->
<li data-control="wm-event-cell" data-name="social-search-result-cell" itemscope>
	
	<div itemprop="locationName"></div>
	<div itemprop="locationDistance"></div>
	
</li>