html, body {
	color: #333;
	font: 400 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.wrapper {
	margin: 0 auto;
	width: 960px;
}

h1 {
	color: #000;
}

@media screen and (max-width: 400px) {

	.wrapper {
		margin: 0;
		width: 100%;
	}

}