/* ios common gradients */

.ui-ios-gradient-light-blue {
	background: #e1e7eb; /* Old browsers */
	background: -moz-linear-gradient(top,  #e1e7eb 0%, #e1e7eb 1%, #bac4cb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e7eb), color-stop(1%,#e1e7eb), color-stop(100%,#bac4cb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e1e7eb 0%,#e1e7eb 1%,#bac4cb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e1e7eb 0%,#e1e7eb 1%,#bac4cb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e1e7eb 0%,#e1e7eb 1%,#bac4cb 100%); /* IE10+ */
	background: linear-gradient(top,  #e1e7eb 0%,#e1e7eb 1%,#bac4cb 100%); /* W3C */
	filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e7eb', endColorstr='#bac4cb',GradientType=0 )"; /* IE6-9 */
}

.ui-ios-gradient-light-blue-search-button {
	background: #a3b3cd; /* Old browsers */
	background: -moz-linear-gradient(top,  #a3b3cd 0%, #8c9aaf 1%, #647792 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3b3cd), color-stop(1%,#8c9aaf), color-stop(100%,#647792)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a3b3cd 0%,#8c9aaf 1%,#647792 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a3b3cd 0%,#8c9aaf 1%,#647792 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a3b3cd 0%,#8c9aaf 1%,#647792 100%); /* IE10+ */
	background: linear-gradient(top,  #a3b3cd 0%,#8c9aaf 1%,#647792 100%); /* W3C */
	filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3b3cd', endColorstr='#647792',GradientType=0 )"; /* IE6-9 */
}

.ui-ios-gradient-light-blue-search-button-selected {
	background: #93a1b8; /* Old browsers */
	background: -moz-linear-gradient(top,  #93a1b8 0%, #7a8799 1%, #516075 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93a1b8), color-stop(1%,#7a8799), color-stop(100%,#516075)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #93a1b8 0%,#7a8799 1%,#516075 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #93a1b8 0%,#7a8799 1%,#516075 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #93a1b8 0%,#7a8799 1%,#516075 100%); /* IE10+ */
	background: linear-gradient(top,  #93a1b8 0%,#7a8799 1%,#516075 100%); /* W3C */
	filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='#93a1b8', endColorstr='#516075',GradientType=0 )"; /* IE6-9 */
}