/* Element: UISearchBar */

@-moz-document url-prefix() {

	/* Element: UISearchBar */
	
	.ui-ios-search-bar input[type=text]  {
		/* correct firebox padding bug */
		padding: 6px 5px 4px 30px;
		left: 0px;
		width: 100%;
		position: relative;
	}
	
	.ui-ios-search-bar .ui-ios-search-button  {
		/* correct firebox padding bug */
		line-height: 30px;
	}
	
	.ui-ff-ios-search-bar-wrapper {
		height: 30px;
		left: 7px;
		right: 44px;
		position: absolute;
		
	}
	
	/* Element: UIBarButtonItem */
	
	.ui-ios-bar-button-item {
		line-height: 30px;
	}
			
	
}