/* ui-ios-search-bar */

.ui-ios-search-bar input[type=text] {
	margin-top: 5px;
}

.ui-ios-search-bar input[type=text]:focus {
	margin: 0px;
}

.ui-ff-ios-search-bar-wrapper {
	height: 30px;
	left: 7px;
	top: 0px;
	right: 44px;
	position: absolute;
}	